{{yield showError}}
{{#if showError}}
  <i class="fa fa-times"></i>
{{/if}}
{{#if showSuccess}}
  <i class="fa fa-check"></i>
{{/if}}

<span class="help {{if showError 'is-danger'}}">
  {{#liquid-bind errorMessage use=shakeAnimation as |message|}}
    {{message}}
  {{/liquid-bind}}
</span>
