<div class="columns">
  <div class="column is-half">
    <p class="control">
      <label class="label">Name</label>
      <input class="input" type="text" name="name" value="" placeholder="You're name">
    </p>

    <p class="control">
      <label class="label">Email</label>
      <input class="input" type="text" name="name" value="">
    </p>

    <p class="control">
      <label class="label">Description</label>
      <textarea class="textarea" placeholer="Enter You're Description"></textarea>
    </p>
  </div>
</div>
